@import './../helpers/mixins';

.goals{
    grid-area: goals;
    position: relative;
    &__title{
        height: 35px;
        display: flex;
        align-items: center;
    }
    &__button{
        border: none;
        background: none;
        margin-left: 10px;
    }
    &__list{
        display: flex;
        gap: 3%;
        margin-top: 10px;
        height: 145px;
    }
    &__item{
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 15px;
        width: 30%;
        padding: 10px 15px;
        box-sizing: border-box;
    }
    &-item{
        &__number{
            @include font1(20px, 600, 25px);
            color: #696969;
        }
        &__name{
            @include font1(18px, 600, 22px);
            color: #404040;
        }
        &__image{
            width: 30px;
            height: 25px;
            margin-top: 30px;
        }
    }
    &__slider{
        position: absolute;
        left: 405px;
        top: 100px;
        width: 9px;
        height: 20px;
        border: none;
        background: none;
    }
}